@font-face {
  font-family: 'East Gates';
  src: url(./East+Gates.eot);
  src: url(./East+Gates.eot?#iefix) format('embedded-opentype'),
       url(./East+Gates.otf) format('otf'),
       url(./East+Gates.svg#East%20Gates) format('svg'),
       url(./East+Gates.ttf) format('truetype'),
       url(./East+Gates.woff) format('woff'),
       url(./East+Gates.woff2) format('woff2');
}
